<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django web application</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap.min.css'%}"
</head>
<body>

    
    <h1 class="title">Welcome to madagascar</h1>
    <a href="{% url 'create' %}">Create Dog</a>

{% comment %} <img src="{% static 'basketball.jpeg' %}" alt="" {% endcomment %}
<ul>
    {% comment %} <li>German Shephard</li>
    <li>Bull Dog</li>
    <li>Rottwiller</li>
    <br> {% endcomment %}
    <li>{{ dogs }}</li>
    <br>

    {% for dog in dogs %}  
    <li> {{ dog.breed }} | ${{dog.price}} </li>
    <a class="btn btn-sm btn-primary " href="{% url 'update' dog.id %}">edit</a>
    <a class="btn btn-sm btn-primary " href="">delete</a>
     <li>{{ dog }}</li>
    {% endfor %} 


</ul>
</body>
</html>